@use 'variable' as *;
footer{
    background-color: $greenlight-color;
}
.footer-contain{
    width: 50rem;
    margin: auto;
    hr{
        border: 1px solid black;
    }
}
.reseau{
    ul{
        @include flexing(center,center,2rem);
        padding: 2rem;
        list-style: none;
        li{
            background-color:black;
            border-radius: 50%;
            padding: 1rem;            
            width: 5rem;
            height: 5rem;
            object{
                width: 100%; 
                filter: invert(0);
            }
            transition: background-color .5s ease, filter .5s ease;
            &:hover{
                background-color: $greenlight-color;
                box-shadow: 0 0 15px 3px black;
                object{
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
}

.navigat{
    ul{
        @include flexing(center,center,2rem);
        padding: 2rem;
        li{
            list-style: none;
            a{    
                color: black;
                text-decoration: none;
                font-weight: bold;
                transition: color .5s ease-out;
                &:hover{
                    color: white;;
                }
            }
        }
    }
}