@use 'variable' as *;
.myproject{
    background-color: $section-color;
    display: flex;
    flex-direction: column;
    @include gaptit;
}
.contproj{
    background-color: black;
    width: 60%;
    min-width: 70em;
    @include flexing(center,flex-start,2rem);
    margin: auto;
    padding:2rem;
    flex-direction: column;
    border: 2px solid $greenlight-color;
    box-shadow: 3px 2px 16px 5px $greenlight-color;
    border-radius: 2rem;
    summary {
        display: flex;
        align-items: center;
        list-style: none; /* Enlève la flèche par défaut */
        padding-bottom: 2rem;
    }
    summary::after {
    content: "▶"; /* Flèche personnalisée */ 
    color: white;
    font-size: 14px;
    margin-left: 8px;
    transition: transform .25s ease-in-out;
    }
    details[open] summary::after {
    transform: rotate(90deg); /* Fait tourner la flèche quand c'est ouvert */
    }
    iframe{
        border-radius: 2rem;
    }
    p>a{
        text-decoration: none;
        color: white;
        font-size: 1.8rem;
        &:hover{
            color: $greenlight-color;
            text-decoration: underline;
        }
    }
}
.dots{
    &::after{
        content: "";
        display: inline-block;
        animation: untyping 2s infinite;
        color: red;
    }
    @keyframes untyping {
        0%{content:"";}
        20%{content:".";}
        40%{content:"..";}
        60%{content:"...";}
        80%{content:"..";}
        100%{content:".";}
    }
}
