@use 'variable' as *;
@media screen and (max-width: 740px) {
    .home{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .presentation{
        padding-top: 2rem;
        max-width: 100%;
        margin:0 auto;
        // margin-right: 13em;
        width: 500px;
    }
    header{
        h1{
            padding-right: 10em;
        }
    }
    .burger{
        display: block;
    }
    nav{
        position: relative;
        ul{
            width: 180px;
            display: none;
            flex-direction: column;
            position: absolute;
            gap: 2rem;
            font-size: 2rem;
            list-style: none;
        }
        li{
            width: 50px;
        }
    }
    
    .service{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .wrapper{
        margin: auto;
        height: auto;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        & div{
            flex: 1 1 calc(50% - 20px);
        }
    }
    .contlogo{
        display: flex;
        flex-wrap: wrap;
        & div{
            flex: 1 1 calc(50% - 20px);
        }
    }
}