@use 'variable' as *;

@media screen and (max-width: 740px) {
    .home{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .presentation{
        padding-top: 2rem;
        max-width: 100%;
        margin:0 auto;
        // margin-right: 13em;
        width: 500px;
    }
    .contlogo,.contproj,.progression{
        min-width:0;
        width: 90%;
    }
    .burger{
        display: block;
    }
    nav{
        // position: relative;
        ul{
            width: 180px;
            display: none;
            flex-direction: column;
            position: absolute;
            gap: 2rem;
            font-size: 2rem;
            list-style: none;
            
        }
        // li{
        //     width: 50px;
        // }
            position: absolute;
            left: 0;
            top: 0;
            //background-color: red;
            height: 100%;
            width: 100%;
            z-index: 2;
            justify-content: center;
            align-items: center;
    }
    .burger{
        position: fixed;
        top:0;
        right: 0;
    }
    .service, .skill,.myproject, footer  {
        min-width: 500px;
    }
}
@media screen and (max-width: 768px){
    .wrapper{
        margin: auto;
        height: auto;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        & div{
            flex: 1 1 calc(50% - 20px);
        }
    }
    .contproject{
        min-width: 0;
    }
    .contlogo{
        display: flex;
        flex-wrap: wrap;
        & div{
            flex: 1 1 calc(50% - 20px);
        }
    }
}