@use 'variable' as *;
@media screen and (max-width: 1024px) {
    .presentation{
        padding-top: 2rem;
        max-width: 100%;
        margin-right: 13em;
        width: 500px;
    }
    header{
        h1{
            padding-right: 10em;
        }
    }
    nav{
        position: relative;
        right: 10%;
        ul{
            // width: 80%;
            display: block;
            position: absolute;
            gap: 5rem;
            font-size: 2rem;
            list-style: none;
        }
        li{
            width: 100px;
        }
    }
    .service{
        width: 100%;
    }
}