$section-color:#161616;
$greenlight-color:#1B7A0A;

$title-font-size:4.4rem;
@mixin flexing($justify:center,$align:center,$gap:2rem){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap:$gap;
}
@mixin gaptit{
    gap: 3rem;
    padding-top: 4rem;
    padding-bottom: 8rem;
}
