.home{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    margin: 2rem 0 4rem;
    min-height: 100vh;
    height: 100%;
}

.profil{
    position: relative;
    // flex: 1 1 30%;
    width: 500px;
    // left: 10%; /* Place l'élément au milieu horizontalement */
    // transform: translateX(-10%); 
    .tsifcap{
        // width: 500px;
        // height: 500px;
        max-width: 450px;
        position: relative;
        border-radius: 50%;
        // width: 60%;
        transition: opacity 0.3s ease;
        margin: 2rem;
    }
    .tsifhover{
        // width: 510px;
        // height: 510px;
        max-width: 450px;
        position: absolute;
        border-radius: 50%;
        // width: calc(60% + 2px);
        top: 0;
        left: 1.5rem;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
}
.profil:hover{
    .tsifcap{
        opacity: 0;
    }
    .tsifhover{
        opacity: 1;
        box-shadow:0 0 26px 12px  $greendark-color;
    }
}

.presentation{
    padding-top: 2rem;
    // flex: 1 1 50%;
    max-width: 100%;
    // margin-right: 10em;
    width: 820px;
    h1{
        font-size: 6.4rem;
        .tsif,span{
            color: $greendark-color;
        }
        .tsif:hover{
            text-decoration: underline;
            text-shadow: 3px 2px 12px $greenlight-color;
        }
    }
    .typing{
        font-size: 4.4rem;
        span{
            position: relative;
        }
        span:hover{
            text-shadow: 3px 2px 12px $greenlight-color;
        }
        span::before{
            content: 'Web developer';
            animation: words 20s infinite;
        }
        span::after{
            content: '';
            background-color:black ;
            position: absolute;
            width: calc(100% + 8px);
            height: calc(100% + 6px);
            max-height: 6rem;
            border-left: 3px solid black;
            right: -8px;
            animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
        }
    }
    @keyframes cursor {
        to{
            border-left: 3px solid $greendark-color;
        }
    }
    @keyframes words {
        0%, 20% {
            content:'Web developer'
        }
        21%, 40% {
            content:'Graphic designer'
        }
        41%, 60%{
            content:'UI/UX Designer'
        }
        61%, 80%{
            content:'Gamer'
        }
        81%, 100% {
            content:'Boy'
        }
    }
    @keyframes typing{
        10%, 15%, 
        30%, 35%,
        50%, 55%, 
        70%, 75%,
        90%, 95%{
            width: 0;
        }
        5%,20%,
        25%, 40%,
        45%, 60%,
        80%, 85%{
            width: calc(100% + 8px);
        }
    }
    .description{
        width: 50em;

    }
    p{
        font-size: 2.8rem;
        width: 100%;
        max-width: 43em;
        margin-top: 2rem;
    }
    ul{
        display: flex;
        list-style: none;
        gap: 3rem;
        margin: 3rem 0;
        .icon{
            text-align: center;
            color: $greendark-color;
            font-size: calc(100% + 2rem);
            width: calc(100% + 2px);
            max-height: 100%;
            border: 3px solid $greendark-color;
            border-radius: 50%;
            padding: 1rem;
        }
        .icon:hover{
            font-size: calc(100% + 3rem);
            width: calc(100% + 3px);
            color: white;
            background-color: $greendark-color;
            box-shadow: 0 0 16px 3px $greendark-color;
        }
    }
    .hire{
        text-decoration: none;
        color: $greendark-color;
        border: 3px solid $greendark-color;
        border-radius: 10rem;
        padding: 1rem 2rem;
        font-size: 3.2rem;
        font-weight: bold;
    }
    .hire:hover{
        background-color: $greendark-color;
        font-size: 3.4rem;
        color: white;
        box-shadow: 0 0 16px 3px $greendark-color;
    }
}