.home{
    display: flex;
    gap: 5%;
    margin: 10rem;
}
.profil{
    img{
        border-radius: 50%;
        width: 500px;
    }
}
.presentation{
    padding-top: 2rem;
    h1{
        font-size: 6.4rem;
        span{
            color: $greendark-color;
        }
    }
    .typing{
        font-size: 4.4rem;
        span{
            position: relative;
        }
        span::before{
            content: 'Web developer';
            animation: words 20s infinite;
        }
        span::after{
            content: '';
            background-color:black ;
            position: absolute;
            width: calc(100% + 8px);
            height: 100%;
            border-left: 3px solid black;
            right: -8px;
            animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
        }
    }
    @keyframes cursor {
        to{
            border-left: 3px solid $greendark-color;
        }
    }
    @keyframes words {
        0%, 20% {
            content:'Web developer'
        }
        21%, 40% {
            content:'Graphic designer'
        }
        41%, 60%{
            content:'UI/UX Designer'
        }
        61%, 80%{
            content:'Gamer'
        }
        81%, 100% {
            content:'Boy'
        }
    }
    @keyframes typing{
        10%, 15%, 
        30%, 35%,
        50%, 55%, 
        70%, 75%,
        90%, 95%{
            width: 0;
        }
        5%,20%,
        25%, 40%,
        45%, 60%,
        80%, 85%{
            width: calc(100% + 8px);
        }
    }
    p{
        font-size: 2.8rem;
        width: 100%;
        margin-top: 2rem;
    }
    ul{
        display: flex;
        list-style: none;
        gap: 3rem;
        margin: 3rem 0;
        img{
            width: 5.5rem;
            height: 5.5rem;
        }
        img:hover{
            color: red;
        }
    }
    .hire{
        text-decoration: none;
        color: $greendark-color;
        border: 2px solid $greendark-color;
        border-radius: 10rem;
        padding: 1rem 2rem;
        font-size: 2.2rem;
        font-weight: bold;
    }
}