@use 'index' as *;
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    // width: 100%;
    font-family: 'inter';
    font-size: 1.6rem;
    background-color: black;
    color: white;
}
.bigcontain{
    min-width: 1132px;
}