.service{
    background-color: $section-color;
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100%;
    @include gaptit;
}
.sectitle{
    text-align: center;
    font-size: $title-font-size;
}
.container{
    margin: 0 7rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 2rem;
    div{
        background-color: $greenlight-color;
        max-width: 100%;
        height: 375px;
        padding: 3rem;
        border-radius: 2rem;
        h2{
            padding-bottom: 1.5rem;
            text-align: center;
            font-size: 3.5rem;
        }
        p{
            font-size: 2.5rem;
            text-align: start;
        }
    }
    div:hover{
        background-color: black;
        border: 6px solid $greenlight-color;
        box-shadow: 3px 2px 16px 5px $greendark-color;
        h2{
            color: $greenlight-color;
        }
    }
}
