.skill{
    @include gaptit();
    @include flexing(center,center,3rem);
    flex-direction: column;
}
.contlogo{
    display: grid;
    padding: 3rem;
    border-radius: 3rem;
    grid-template-columns: repeat(5,1fr);
    gap: 3rem;
    background: linear-gradient(147deg, rgb(27, 27, 27) 35%, $greendark-color 109%); 
     width: 70em;
    // width: 60%;
    div{
        background-color: black;
        text-align: center;
        padding: 3rem;
        width: 19rem;
        height: 19rem;
        border-radius: 3rem;
        text-transform: uppercase;
        h2{
            padding-top: 1rem;
            text-align: center;
            color: $greendark-color;
        }
    }
    div:hover{
        box-shadow: inset 3px 2px 16px 5px $greendark-color;
    }
}
.contlogo:hover{
    box-shadow: 3px 2px 16px 5px $greendark-color;
}

.progression{
    width: 60%;
    min-width: 60em;
    border: 5px solid $greendark-color;
    padding: 2rem;
    border-radius: 3rem;
    .charge{
        width: 100%;
        min-width: 20%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        li{
            display:flex;
            gap: 1rem;
            h2{
                width: 18rem;
            }
        }
    }
    .barre{
        position: relative;
        width: 100%;
        height: 1rem;
        top: 1rem;
        background-color: white;
        border-radius: 10rem;
        overflow: hidden;
        
        .longbarre{
            width: 90%;
            background-color: orange;
            border-radius: 10rem;
            height: 1rem;
        }
        .longbarre2{
            @extend .longbarre;
            background-color: blue;
            width: 80%;
        }
        .longbarre3{
            @extend .longbarre;
            background-color: rgb(236, 83, 178);
            width: 91%;
        }
        .longbarre4{
            @extend .longbarre;
            background-color: yellow;
            width: 10%;
        }
        .longbarre5{
            @extend .longbarre;
            background-color:purple;
            width: 75%;
        }
    }
}